*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    border: box model;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #0f1111;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    background-image:url("amazon_logo.png") ;
    height: 50px;
    width: 100px;
    background-size: cover;
    
    

}
.border {
    
    border:1.5px solid transparent;
}

.border:hover {

    border: 1.5px solid white;
}
.navbar-logo{
    height: 50px;
    width: 100px;
}
.one{
    color: #cccccc;
    height: 14px;
    font-size: 12px;
    margin-left: 15px;
   
}
.two{
    height: 16px;
    color: #ffffff;
    font-size:14px ;
    margin-left: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
    padding-bottom: 4px;

}
.nav-address{

}
.border:hover{
    border:2px solid white;
}



.nav-search{
    display: flex;
    margin: 0%;
    background-color: rgb(221, 221, 7);
    border-radius: 3px;
   

    
    
}
.search-icon{
    height:40px ;
    width:36px ;
    background-color:hover rgb(255, 255, 0);
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 12px;
    color:black;
    border-radius: 2px;
    border: none;
    border-top-left-radius: 0px;


}
.search-input{
    height: 40px;
    width: 380px;
    font-size: 18px;

    border: none;
    padding-left: 6px;
}
.search-select{
    
    color:#0f1111;
    background-color: #f3f3f3;
    border-top-right-radius: 1px;
    border: none;
    border-top-left-radius: 2px;
    width:60 ;
    height:40 ;
    border-bottom-left-radius: 2px;
}
span{
    font-size:12px;
}
.nav-account{
    font-size: 14px;
    display: flex;
    padding-right: 10px;
}
.returns{
    font-size: 12px;
}
.nav-orders{
    font-size:14px ;

}
.nav-cart{
    display: flex;
}
.nav-end{
    font-size: 25px;
}
.cart{
    font-size:14px ;
    text-align: end;
    padding-top: 15px;
}
.panel{
    color: white;
    background-color:#2e4040;
    height: 8vh;
    display: flex;

    
    

}
.panel-all{
    
    padding-left: 10px;
    padding-top: 13px;
    font-weight: 600;
    font-size:20px ;
    display: flex;
    
    justify-content: space-evenly;


}
p{
    display: flex;
    display: inline;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 0px;


    font-size: 15px;

}
.panel-one{

    font-size: 14px;
    font-weight: 700;
    padding-left: 5px;
    

}



.panel-seven{
    padding-left: 520px;
    
}
.panel-six{
    padding-right: 10px;
}
.panel-two{
    padding-right: 5px;
}
.panel-three{
    padding-right: 5px;

}
.panel-four{
    padding-right: 5px;

}
.panel-five{
    padding-right: 5px;
}
.hero-section{
    background-image: url("hero_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
    
   



}
.hero-msg{
    color: black;
    text-align: center;
    background-color: #ffffff;
    height: 6vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}
.hero-msg a{
    text-decoration: none;
}
.box-section{
    color: #ffffff;
    background-color: #cccccc;

    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    
}
.box{
    color:black;
    height:370px ;
    width:23% ;

    background-color: #ffffff;
    padding: 20px 0px 15px;
    margin-top: 25px;
}
.box-img{
    background-image:url("box1_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 10px;
    
   
    
    
    
}
.box-content{
    padding-left: 1rem;
    padding-right: 1rem;
}
.box2-img{
    background-image:url("box2_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 10px;
}
.box3-img{
    background-image:url("box3_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 10px;
}
.box4-img{
    background-image:url("box4_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 10px;
}
.box5-img{
    background-image:url("box5_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    margin-top: 10px;  

}
.box6-img{
background-image:url("box6_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 10px;
    }
.box7-img{
background-image:url("box7_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    margin-top: 10px;  
}
.box8-img{
background-image:url("box8_image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    margin-top: 10px;  
}
.box9-img{
 background-image:url("box9_image.jpg") ;
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;  
 margin-top: 10px; 
}
.box10-img{
 background-image:url("box10_image.jpg") ;
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;  
 margin-top: 10px; 
}

.box11-img{
 background-image:url("box11_image.jpg") ;
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;   
 margin-top: 10px;
}

.box12-img{
 background-image:url("box12_image.jpg") ;
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px; 
 margin-top: 10px;
}  
  



.naga{
    background-color: #cccccc; 
    height: 5vh;
}
.foot-panel1{

    background-color:#232f3e;
    height: 8vh;
    color: #ffffff;
    display: flex;

    justify-content: center;
    align-items: center;

}   
.foot-content{
    text-align: center;
    justify-content: center;

}
.foot-panel2{
    background-color: hwb(213 22% 65%);
    height: 50vh;
    color: #f3f3f3;
    display: flex;
    
    padding-left: 50px;
    padding-top: 40px;
    justify-content: space-evenly;
}
.cho{
   font-size: 18px;
   padding-left: 2px;
   padding-top: 20px;
   font-weight: 600;
   color: #ffffff;
}

.foot-panel2 a{
    display: block;
    padding-top:10px ;
    display: flex;
    color:#cccccc;
    text-decoration: none;


    

}
.rama{
    font-size: 18px;
    padding-left: 2px;
    padding-top: 20px;
    font-weight: 600;
}
.raji a{
    display: block;
    padding-top:10px ;
    display: flex;
    color: #ffffff;
    text-decoration: none;
}
.raji{
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.foot-panel3{
    color:#ffffff;
    background-color:#37475a;
    height:11vh;
    border-top: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{

    background-image:url("amazon_logo.png") ;
    height: 50px;
    width: 100px;
    background-size: cover;

}
.foot-panel4{
    background-color:#232f3e;
    height:15vh;
    color:#cccccc;
    font-size: 12px;
    
}
.foot-end a{
    color:#cccccc;
    text-decoration: none;
    padding-left: 10px;
}
    .foot-end{
        text-align: center;
        padding-top: 25px;
    }

.foot-end1{
    margin-top: 5px;
    text-align: center;
}
